<div class="form-wrapper">
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <div>
    <label for="firstName">First name</label>
    <input 
    type="text" 
    id="firstName" 
    formControlName="firstName" 
    class="userFirstname">
  </div>
  <div>
    <label for="lastName">Last name</label>
    <input 
    type="text" 
    id="lastName" 
    formControlName="lastName" 
    class="userLastname">
  </div>
  <div>
    <label for="phoneNumber">Phone number</label>
    <input 
    type="tel" 
    id="phoneNumber" 
    formControlName="phoneNumber" 
    class="userPhone">
  </div>
  <div>
    <input type="submit" value="submit" class="submitButton">
  </div>
</form>
<div>
<div class="informationTable">
<table class="default">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody *ngFor="let contact of listContacts">
    <tr>
      <td>{{ contact['firstName'] }}</td>
      <td>{{ contact['lastName'] }}</td>
      <td>{{ contact['phoneNumber'] }}</td>
    </tr>
  </tbody>
</table>
</div>